/* Page-specific styling */

#details {
    margin-left: 15px;
}

    #details th {
        text-align: left;
        padding-right: 10px;
    }

#from {
    cursor: pointer;
    color: #336699;
}

    #from:focus, #from:hover, #from:active {
        color: #4ea2df;
    }

#attribution {
  margin-left: 10px;
  width: 100px;
}

/*
  Tweaks to Office UI Fabric 
*/
#query-form{

 vertical-align: middle;    
}

.ms-SearchBox-field {
  line-height: 1.5em;
}

/*.ms-ListItem {
  padding: 0;
  margin-top:5px;
}*/

@media (min-width: 480px) {
  .ms-List.ms-List--grid .ms-ListItem {
    width: 100%;
    float: left;
    border-width: 0 1px 1px 0;
  }

  .ms-List.ms-List--grid .ms-ListItem:nth-child(3n) {
    border-width: 0 0 1px 0;
  }
}

.ms-ListItem.is-selectable:hover:before {
  border: 0px;
}

.ms-ListItem.is-selected:before,
.ms-ListItem.is-selected:hover:before {
  content: '';
}



.ms-ListItem-image {
  width: auto;
  max-height: 100px;
}